.card {
  max-width: 413px;
  position: relative;
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  margin: 0;
  color: rgba(33, 33, 33, 1);
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__delete-button {
  background-image: url(../images/delete-icon.svg);
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete-hover.svg);
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/liked-active.svg);
  color: rgba(255, 101, 101, 1);
  opacity: 100%;
}

.card__like-button_active:hover {
  background-image: url(../images/liked-hover.svg);
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

@media screen and (max-width: 627px) {
  .card__title {
    font-size: 16px;
    line-height: 16px;
    max-width: 288px;
  }

  .card__image {
    height: 288px;
  }
}
