.cards {
  /*NEEDS CORRECTING:
  The property isn't applied, because it's reassigned below. Please remove
  */
  padding-top: 20px;
  border-bottom: 1px solid #21212166;
  /*NEEDS CORRECTING:
  Please note that this value should be different **on mobile screens**, the gap at the bottom of the section should be changed in a media query.
  */
  padding: 0px 0px 40px 0px;
  gap: 20px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
